@using Mvc5_KutuphaneYonetimSistemi.Models.Entity
@model List<Mesajlar>

@{
    ViewBag.Title = "GidenMesaj";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Giden Mesajlar</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Alıcı</th>
        <th>Konu</th>
        <th>Mesaj</th>
        <th>Tarih</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Alıcı</td>
            <td>@item.Konu</td>
            <td>@item.Icerik</td>
            <td>@item.Tarih</td>
        </tr>
    }
</table>
