@using Mvc5_KutuphaneYonetimSistemi.Models.Entity
@model List<Duyuru>

@{
    ViewBag.Title = "Duyurular";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}


<h2>Duyurular</h2>

<table class="table table-bordered">
    <tr>
        <th>Tarih</th>
        <th>Kategori</th>
        <th>İçerik</th>
        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Convert.ToDateTime(item.Tarih).ToString("dd-MM-yyyyy")</td>
            <td>@item.Kategori</td>
            <td>@item.Icerik</td>
        </tr>
    }

</table>



